.wrap{
    header{
        width:1200px;
        margin:0 auto;
        position:relative;
        top:0px;
        left:0px;
        .logo{
            width:102px;
            height:106px;
            margin-top:70px;
            margin-left:70px;
            img{
                width:100%;
            }
        }
        ul{
            &:nth-child(2){
                width:740px;
                font-weight:600;
                font-size:18px;
                float:left;
                margin-top:-70px;
                margin-left:240px;
                color:#4a4342;
                h2{
                    li{
                        margin:0 auto;
                        float:left;
                    }
                    &:nth-child(1){
                        li{
                            width:90px;
                        }
                    }
                    &:nth-child(2){
                        li{
                            width:76px;
                        }
                    }
                    &:nth-child(3){
                        li{
                            width:76px;
                        }
                    }
                    &:nth-child(4){
                        li{
                            width:160px;
                        }
                    }
                    &:nth-child(5){
                        li{
                            width:108px;
                        }
                    }
                    &:nth-child(6){
                        li{
                            width:150px;
                        }
                    }
                }
            }
            &:nth-child(3){
                width:132px;
                float:right;
                margin-top:-120px;
                li{
                    font-size:16px;
                    font-weight:500;
                    cursor:pointer;
                    &:nth-child(1){
                        width:64px;
                    }
                    &:nth-child(2){
                        width:68px;
                    }
                    margin:0 auto;
                    float:left;
                }
            }
        }
    }
}