@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400,500,600,700,800,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

header .logo, header ul {
  float: left;
}

.wrap header {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 0px;
  left: 0px;
}

.wrap header .logo {
  width: 102px;
  height: 106px;
  margin-top: 70px;
  margin-left: 70px;
}

.wrap header .logo img {
  width: 100%;
}

.wrap header ul:nth-child(2) {
  width: 740px;
  font-weight: 600;
  font-size: 18px;
  float: left;
  margin-top: -70px;
  margin-left: 240px;
  color: #4a4342;
}

.wrap header ul:nth-child(2) h2 li {
  margin: 0 auto;
  float: left;
}

.wrap header ul:nth-child(2) h2 li:hover:after {
  content: "";
  display: block;
  width: 80%;
  padding-top: 2px;
  border-bottom: 3px solid #018f64;
}

.wrap header ul:nth-child(2) h2:nth-child(1) li {
  width: 90px;
}

.wrap header ul:nth-child(2) h2:nth-child(1) li:hover:after {
  width: 78%;
}

.wrap header ul:nth-child(2) h2:nth-child(2) li {
  width: 76px;
}

.wrap header ul:nth-child(2) h2:nth-child(2) li:hover:after {
  width: 70%;
}

.wrap header ul:nth-child(2) h2:nth-child(3) li {
  width: 76px;
}

.wrap header ul:nth-child(2) h2:nth-child(4) li {
  width: 160px;
}

.wrap header ul:nth-child(2) h2:nth-child(4) li:hover:after {
  width: 90%;
}

.wrap header ul:nth-child(2) h2:nth-child(5) li {
  width: 108px;
}

.wrap header ul:nth-child(2) h2:nth-child(5) li:hover:after {
  width: 82%;
}

.wrap header ul:nth-child(2) h2:nth-child(6) li {
  width: 150px;
}

.wrap header ul:nth-child(2) h2:nth-child(6) li:hover:after {
  width: 84%;
}

.wrap header ul:nth-child(3) {
  width: 132px;
  float: right;
  margin-top: -120px;
}

.wrap header ul:nth-child(3) li {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 auto;
  float: left;
}

.wrap header ul:nth-child(3) li:nth-child(1) {
  width: 64px;
}

.wrap header ul:nth-child(3) li:nth-child(2) {
  width: 68px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

header .logo, header ul {
  float: left;
}

footer {
  width: 100%;
  height: 220px;
  background-color: #554c46;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
}

footer .footer_wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

footer .footer_wrap img {
  position: absolute;
  top: 40px;
  left: 50px;
}

footer .footer_wrap ul {
  width: 694px;
  float: right;
  margin-top: 80px;
  margin-right: 10px;
}

footer .footer_wrap ul li {
  float: left;
  font-size: 14px;
  font-weight: 700;
  color: #f9f9f9;
}

footer .footer_wrap ul li:nth-child(1) {
  width: 82px;
}

footer .footer_wrap ul li:nth-child(2) {
  width: 150px;
  margin-left: 30px;
}

footer .footer_wrap ul li:nth-child(3) {
  width: 112px;
  margin-left: 30px;
}

footer .footer_wrap ul li:nth-child(4) {
  width: 160px;
  margin-left: 30px;
}

footer .footer_wrap ul li:nth-child(5) {
  width: 70px;
  margin-left: 30px;
}

footer .footer_wrap .footer_text {
  width: 862px;
  height: 50px;
  float: right;
  margin-top: 30px;
  margin-right: 17px;
}

footer .footer_wrap .footer_text p {
  font-size: 14px;
  font-weight: 700;
  color: #c9beb6;
  text-align: right;
  line-height: 24px;
}

.wrap {
  width: 100%;
}

.wrap .coffee_header_wrap {
  width: 100%;
  height: 300px;
  background-image: url("../img/coffee_header_bg.png");
  background-position: right;
  background-color: #f0f0e8;
  background-repeat: no-repeat;
}

.wrap .coffee_main_text {
  width: 182px;
  height: 76px;
  position: absolute;
  top: 170px;
  left: 50%;
  margin-left: -91px;
  color: #33302f;
}

.wrap .coffee_main_text span {
  font-size: 43px;
  font-weight: 700;
  letter-spacing: 2px;
}

.wrap .coffee_main_text p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 14px;
}

.wrap .coffee_tab {
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #f0cfbc;
}

.wrap .coffee_tab ul {
  width: 832px;
  height: 24px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.wrap .coffee_tab ul li {
  float: left;
  margin-left: 40px;
  color: #a89e99;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.wrap .coffee_tab ul li:nth-child(1) {
  margin-left: 0px;
}

.wrap .coffee_tab ul .on {
  color: #ec6c56 !important;
}

.wrap .choice {
  width: 100%;
  height: 586px;
  background-image: url("../img/choice_bg.png");
  background-position: center;
}

.wrap .choice img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

.wrap .choice button {
  width: 160px;
  height: 40px;
  border: 1px solid #ec6c56;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 160px;
  font-size: 16px;
  font-weight: 500;
  color: #ec6c56;
  cursor: pointer;
}

.wrap .blend {
  width: 1200px;
  height: 768px;
  margin: 0 auto;
  position: relative;
}

.wrap .blend img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.wrap .blend img:nth-child(1) {
  top: 94px;
  left: 260px;
}

.wrap .blend img:nth-child(2) {
  top: 120px;
  left: -96px;
}

.wrap .blend img:nth-child(3) {
  top: 306px;
  left: 50px;
}

.wrap .blend img:nth-child(4) {
  top: 536px;
  left: 52px;
}

.wrap .blend img:nth-child(5) {
  top: 500px;
  left: 780px;
}

.wrap .blend img:nth-child(6) {
  top: 309px;
  left: 786px;
}
/*# sourceMappingURL=coffee.css.map */