@import "./component/header.scss";
@import "./component/footer.scss";

.wrap{
    width:100%;
    .coffee_header_wrap{
        width:100%;
        height:300px;
        background-image:url("../img/coffee_header_bg.png");
        background-position:right;
        background-color:#f0f0e8;
        background-repeat: no-repeat;
    }
    .coffee_main_text{
        width:182px;
        height:76px;
        position:absolute;
        top:170px;
        left:50%;
        margin-left:-91px;
        color:#33302f;
        span{
            font-size:43px;
            font-weight:700;
            letter-spacing:2px;
        }
        p{
            font-size:18px;
            font-weight:700;
            margin-top:14px;
        }
    }
    .coffee_tab{
        width:100%;
        height:39px;
        border-bottom: 1px solid #f0cfbc;
        ul{
            width:832px;
            height:24px;
            display:block;
            margin:0 auto;
            margin-top:25px;
            li{
                float:left;
                margin-left:40px;
                color:#a89e99;
                font-size:16px;
                font-weight:700;
                cursor:pointer;
                
                &:nth-child(1){
                    margin-left:0px;
                }
            }
            .on{
                color: #ec6c56 !important;
            }
        }
    }
    .choice{
        width:100%;
        height:586px;
        background-image:url("../img/choice_bg.png");
        background-position:center;
        img{
            display:block;
            margin:0 auto;
            position:relative;
            top:100px;
        }
        button{
            width:160px;
            height:40px;
            border:1px solid #ec6c56;
            background-color:transparent;
            border-radius:10px;
            display:block;
            margin:0 auto;
            position:relative;
            top:160px;
            font-size:16px;
            font-weight:500;
            color:#ec6c56;
            cursor:pointer;
            &:hover{
                transition: all 0.2s linear;
                background-color: #ec6c56;
                color:#fff;
            }
        }
    }
    .blend{
        width:1200px;
        height:768px;
        margin:0 auto;
        position:relative;
        img{
            position:absolute;
            top:0px;
            left:0px;
            &:nth-child(1){
                top:94px;
                left:260px;
            }
            &:nth-child(2){
                top:120px;
                left:-96px;
            }
            &:nth-child(3){
                top:306px;
                left:50px;
            }
            &:nth-child(4){
                top:536px;
                left:52px;
            }
            &:nth-child(5){
                top:500px;
                left:780px;
            }
            &:nth-child(6){
                top:309px;
                left:786px;
            }
        }
    }
}