@import "./component/header.scss";
@import "./component/footer.scss";

.wrap{
    .menu_header_wrap{
        width:100%;
        height:300px;
        background-image:url("../img/menu_main_img.png");
        background-position:left;
        background-repeat: no-repeat;
        background-color:#f0cfbc;
        .menu_main_text{
            width:182px;
            height:76px;
            position:absolute;
            top:170px;
            left:50%;
            margin-left:-91px;
            color:#33302f;
            span{
                font-size:43px;
                font-weight:700;
                letter-spacing:4px;
            }
            p{
                font-size:18px;
                font-weight:700;
                margin-top:14px;
            }
        }
    }
    .menu_tab{
        width:100%;
        height:39px;
        border-bottom: 1px solid #f0cfbc;
        ul{
            width:1020px;
            height:24px;
            display:block;
            margin:0 auto;
            margin-top:25px;
            li{
                float:left;
                margin-left:40px;
                color:#a89e99;
                font-size:16px;
                font-weight:700;
                cursor:pointer;
                &:nth-child(1){
                    margin-left:0px;
                }
            }
            .on{
                color: #a84912 !important;
            }
        }
    }
    .main_menu{
        width:1200px;
        margin:0 auto;
        &:nth-child(3){
            h3{
                margin-top:110px;
            }
        }
        h3{
            width:100%;
            text-align:center;
            font-size:26px;
            font-weight:800;
            color:#a84912;
            margin-top:550px;
        }
        .beav_wrap{
            width:1200px;
            margin:0 auto;
            &:nth-child(2){
                margin-top:15px;
            }
            .beav{
                width:275px;
                margin-left:20px;
                margin-top:75px;
                float:left;
            }
            img{
                display:block;
                margin:0 auto;
                &:nth-child(2){
                    margin-top:36px;
                }
            }
        }
    }
    .menu_footer{
        margin-top:600px;
    }
}