@import "./component/header.scss";
@import "./component/footer.scss";

.wrap{
    .rewards_header_wrap{
        width:100%;
        height:300px;
        background-image:url("../img/rewards_main_img.png");
        background-position:right;
        background-repeat: no-repeat;
        background-color:#d6c597;
        .rewards_main_text{
            width:380px;
            height:76px;
            position:absolute;
            top:170px;
            left:50%;
            margin-left:-190px;
            text-align:center;
            color:#33302f;
            span{
                font-size:43px;
                font-weight:700;
                letter-spacing:1px;
            }
            p{
                font-size:18px;
                font-weight:700;
                letter-spacing:0px;
                margin-top:10px;
            }
        }
    }
    .rewards_tab{
        width:100%;
        height:39px;
        border-bottom: 1px solid #d6c597;
        ul{
            width:518px;
            height:24px;
            display:block;
            margin:0 auto;
            margin-top:25px;
            li{
                float:left;
                margin-left:40px;
                color:#a89e99;
                font-size:16px;
                font-weight:700;
                cursor:pointer;
                &:nth-child(1){
                    margin-left:0px;
                }
            }
        }
    }
    .app_wrap{
        width:100%;
        height:400px;
        background-color:#8b7f78;
        overflow-y: hidden;
        .app{
            width:1200px;
            margin:0 auto;
            position:relative;
            img{
                position:absolute;
                &:nth-child(1){
                    top:68px;
                    left:44px;
                }
                &:nth-child(2){
                    top:126px;
                    left:660px;
                }
            }
            button{
                width:140px;
                height:40px;
                border:1px solid #d5c594;
                background-color:transparent;
                border-radius:10px;
                position:absolute;
                color:#ede0d7;
                cursor:pointer;
                &:nth-child(3){
                    top:284px;
                    left:662px;
                }
                &:nth-child(4){
                    top:284px;
                    left:822px;
                }
                &:hover{
                    background-color:#d5c594;
                    color:#eaeaea;
                }
            }
        }
    }
    .rank_wrap{
        width:100%;
        height:1120px;
        background-color:#fafafa;
        .rank{
            width:1200px;
            margin:0 auto;
            position:relative;
            &:nth-child(2){
                top:314px;
                .my_rank{
                    .image_box{
                        img{
                            &:nth-child(3){
                                left:112px;
                            }
                        }
                    }
                    .contents{
                        .benefit{
                            &:nth-child(1){
                                margin-top:76px;
                            }
                            &:nth-child(2){
                                margin-top:90px;
                            }
                            &:nth-child(3){
                                margin-top:70px;
                            }
                        }
                    }
                }
            }
            &:nth-child(3){
                top:628px;
                .my_rank{
                    .image_box{
                        img{
                            &:nth-child(3){
                                left:126px;
                            }
                        }
                    }
                    .contents{
                        .benefit{
                            &:nth-child(2){
                                margin-top:102px;
                            }
                            &:nth-child(3){
                                margin-top:70px;
                            }
                        }
                    }
                }
            }
            .my_rewards{
                position:absolute;
                top:40px;
                left:990px;
                z-index:1;
            }
            .my_rank{
                width:1000px;
                height:300px;
                background-color:#f0f0f0;
                position:absolute;
                top:96px;
                left:100px;
                .image_box{
                    width:360px;
                    height:280px;
                    background-color:#ffffff;
                    margin-top:10px;
                    margin-left:10px;
                    position:relative;
                    img{
                        position:absolute;
                        &:nth-child(1){
                            top:38px;
                            left:146px;
                        }
                        &:nth-child(2){
                            top:38px;
                            left:48px;
                        }
                        &:nth-child(3){
                            top:190px;
                            left:96px;
                        }
                    }
                }
                .contents{
                    width:630px;
                    height:280px;
                    float:left;
                    position:absolute;
                    top:10px;
                    left:370px;
                    .benefit{
                        width:180px;
                        margin-top:90px;
                        margin-left:18px;
                        float:left;
                        img{
                            display:block;
                            margin:0 auto;
                            &:nth-child(2){
                                margin-top:26px;
                            }
                        }
                    }
                }
            }
        }
    }
}