@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400,500,600,700,800,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.wrap ul li {
  color: #fff;
}

.wrap .store_header_wrap {
  width: 100%;
  height: 300px;
  background-image: url("/img/store_main_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #030306;
}

.wrap .store_header_wrap .cc li {
  color: #f3e8e5;
}

.wrap .store_header_wrap .store_main_text {
  width: 182px;
  height: 76px;
  position: absolute;
  top: 170px;
  left: 50%;
  margin-left: -91px;
  color: #f3e8e5;
}

.wrap .store_header_wrap .store_main_text span {
  font-size: 43px;
  font-weight: 700;
  letter-spacing: 9px;
}

.wrap .store_header_wrap .store_main_text p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 14px;
}

.wrap .store_tab {
  width: 100%;
  height: 39px;
  border-bottom: 2px solid #585f5d;
}

.wrap .store_tab ul {
  width: 792px;
  height: 24px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.wrap .store_tab ul li {
  float: left;
  margin-left: 40px;
  color: #a89e99;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.wrap .store_tab ul li:nth-child(1) {
  margin-left: 0px;
}

.wrap .store_main {
  width: 1200px;
  margin: 0 auto;
}

.wrap .store_main .store_slide {
  position: relative;
}

.wrap .store_main .store_slide img {
  position: absolute;
}

.wrap .store_main .store_slide img:nth-child(1) {
  top: 80px;
  left: 106px;
}

.wrap .store_main .store_slide img:nth-child(2) {
  top: 140px;
  left: 610px;
}

.wrap .store_how_to {
  width: 1200px;
  margin: 0 auto;
  margin-top: 664px;
}

.wrap .store_how_to h3 {
  margin-left: 94px;
  font-size: 28px;
  font-weight: 700;
}

.wrap .store_how_to .drive_road {
  position: relative;
}

.wrap .store_how_to .drive_road img {
  position: absolute;
}

.wrap .store_how_to .drive_road img:nth-child(1) {
  top: 64px;
  left: 30px;
}

.wrap .store_how_to .drive_road img:nth-child(2) {
  top: 360px;
  left: 250px;
  z-index: -1;
}

.wrap .store_how_to .drive_road img:nth-child(3) {
  top: 298px;
  left: 408px;
}

.wrap .store_how_to .drive_road img:nth-child(4) {
  top: 320px;
  left: 540px;
}

.wrap .store_how_to .drive_road img:nth-child(5) {
  top: 320px;
  left: 664px;
}

.wrap .store_how_to .drive_road img:nth-child(6) {
  top: 148px;
  left: 480px;
}

.wrap .store_how_to .drive_road img:nth-child(7) {
  top: 64px;
  left: 802px;
}

.wrap .store_how_to .drive_text {
  margin-top: 508px;
}

.wrap .store_how_to .drive_text img {
  margin-left: 66px;
}

.wrap .store_how_to .drive_text img:nth-child(2) {
  margin-left: 180px;
}

.wrap .store_footer {
  margin-top: 180px;
}
/*# sourceMappingURL=store.css.map */